# ignore all
/*
/.*

# allow any
!/.gitignore
!/.tmux.conf
!/.vimperatorrc
!/_vimperatorrc
!/.zsh/
!/.zshrc
!/.zshrc.local.wsl
!/*.nodoka
!/.aspell.conf
!/.config/
/.config/*
!/.config/pep8
!/.config/pylintrc
!/.config/flake8
!/.config/pip
!/.config/pip/pip.conf
!/.config/yapf/
!/.config/yapf/style
!/.config/alacritty
!/.config/alacritty/alacritty.yml
!/.config/gtk-3.0
!/.config/gtk-3.0/settings.ini
!/.themes/
!/.latexmkrc
!/bin
chromedriver
geckodriver
emacs-lsp-booster
ghq
mvn
tectonic
xelatex
!/linux_setup.sh
!/.Xdefaults
!/.Xresources
!/.zshenv
!/.gitignore_global

## emacs
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/early-init.el
!/.emacs.d/init_wsl.el
!/.emacs.d/inits/
/.emacs.d/inits/*
!/.emacs.d/inits/*.el
!/.emacs.d/snippets/
!/.emacs.d/snippets/*
!/.emacs.d/elisp/
/.emacs.d/elisp/*
!/.emacs.d/elisp/gptel-save-chat.el
!/.skk.d/
/.skk.d/*
!/.skk.d/init.el
!/.skk.d/dic/
/.skk.d/dic/*
!/.skk.d/dic/SKK-JISYO.*
