
.ICEauthority
.Xauthority
*.bak
.bash_logout
.cache/
.cargo/
.conda/
.config/
.continuum/
.dbus/
.dmrc
.fonts/
.gconf/
.gitconfig
.gnupg/
.ipython/
.jupyter/
.local/
.migemo-pattern
.mozc/
.mozilla/
.png
.presage/
.python_history
.ssh
.thumbnails/
.tmux-buffer
*.pid
.vimperator/
.xfce4*
.xsession-errors*
*.log
.zcompdump
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
opt/
