# ignore all
/*
/.*

# allow any
!/.gitignore
!/.zshenv
!/.tmux.conf
!/.vimperatorrc
!/_vimperatorrc
!/.zsh/
!/.zshrc
!/*.nodoka
!/.aspell.conf
!/.config/
/.config/*
!/.config/pep8
!/.config/pylintrc
!/.config/flake8
!/.config/pip
!/.config/pip/pip.conf
!/.themes/
!/.latexmkrc

## emacs
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/inits/
/.emacs.d/inits/*
!/.emacs.d/inits/*.el
!/.skk.d/
/.skk.d/*
!/.skk.d/init.el
!/.skk.d/dic/
/.skk.d/dic/*
!/.skk.d/dic/SKK-JISYO.*
